@charset "UTF-8";

*{
    background-color: darkolivegreen;
    font-family: monospace;
}

p{
    margin: 8%;
    margin-top: 10%;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

#botao a{
    display: block;
    width: 90px;
    padding: 10px;
    background-color: darkslategrey;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

#botao a:hover{
    background-color: darkgreen;
    color: black;
}